.msg {
    position: absolute;
    left: 250px;
    top: 100px;
    background-color: #f1f1f1;
    width: 280px;
    padding: 10px;
    color: black;
    border: #0000cc 2px dashed;
    display: inline;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }


      .show {
        background-color: white; 
        color: black; 
        border: 2px solid #008CBA;
      }
      
      .show:hover {
        background-color: #008CBA;
        color: white;
      }
      
      .hide {
        background-color: white; 
        color: black; 
        border: 2px solid #f44336;
      }
      
      .hide:hover {
        background-color: #f44336;
        color: white;
      }
      .togg {
        background-color: white; 
        color: black; 
        border: 2px solid #4CAF50;
      }
      
      .togg:hover {
        background-color: #4CAF50;
        color: white;
      }